header {
  color: black;
}
.elite {
  height: 100%;
}

.buck {
  background-color: #FFB233;
  height: 100px;
  margin: 0;
}

#tre {
  text-align: center;
}

.flush {
  height: 600px;
  background-color: #BBFF33;
}

.pat {
  background-color: Grey;
  height: 600px;

}

h3 {
  color: red;
}
